 ### Подключение

In [1]:
%load_ext autoreload
%autoreload 2

In [16]:
#!pip install umap-learn umap-learn[plot]
#!pip install opentsne
#!pip install shap
#!pip install lightgbm
#!pip install catboost
#!pip install polars
#!pip install pyarrow-hotfix
#!pip install --upgrade seaborn

In [110]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.io as pio
import plotly.express as px
import hdbscan
import shap
from bokeh.plotting import curdoc

import lightgbm as lgb
import catboost as cb
from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_auc_score
from sklearn.model_selection import StratifiedGroupKFold

from functools import partial

from utils.distribution import get_df_info, plot_density
from utils.drplotter import DimReductionPlotter
from utils.lgbm import plot_feature_info, plot_scores, plot_tree_info
from utils.my_utils import VotingModel
from sklearn.metrics import log_loss, ndcg_score, mean_squared_error

In [20]:
data = pd.read_csv("intern_task.csv")

In [21]:
data.head(10)

,rank,query_id,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,...,feature_134,feature_135,feature_136,feature_137,feature_138,feature_139,feature_140,feature_141,feature_142,feature_143
0,0,10,1.0,0.0,1.0,3.0,3.0,0.333333,0.0,0.333333,...,0.0,0.000000,0.454545,0.890238,8.655534,1.000000,0.077778,0.002222,1.0,0.333333
1,1,10,3.0,0.0,3.0,0.0,3.0,1.000000,0.0,1.000000,...,0.0,0.000000,0.000000,0.773976,23.130514,0.000000,0.027826,0.000430,44.0,14.666667
2,0,10,3.0,0.0,2.0,0.0,3.0,1.000000,0.0,0.666667,...,0.0,0.000000,0.000000,0.918308,13.351339,0.000000,0.014925,0.000104,22.0,7.333333
3,1,10,3.0,0.0,3.0,0.0,3.0,1.000000,0.0,1.000000,...,0.0,0.000000,0.000000,0.975355,18.240926,0.000000,0.053140,0.000255,8.0,2.666667
4,2,10,3.0,0.0,3.0,1.0,3.0,1.000000,0.0,1.000000,...,273.0,79.670665,0.200000,0.990119,31.786048,0.333333,0.046512,0.000307,24.0,8.000000
5,1,10,3.0,0.0,3.0,1.0,3.0,1.000000,0.0,1.000000,...,0.0,0.000000,0.200000,0.974819,22.936731,0.333333,0.033233,0.000093,28.0,9.333333
6,1,10,3.0,0.0,3.0,0.0,3.0,1.000000,0.0,1.000000,...,3.0,16.200000,0.000000,0.945281,18.240926,0.000000,0.013008,0.000023,5.0,1.666667
7,0,10,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
8,0,10,2.0,0.0,1.0,0.0,2.0,0.666667,0.0,0.333333,...,218.0,55.069946,0.000000,0.448807,4.695805,0.000000,0.002153,0.000002,5.0,1.666667
9,0,10,3.0,0.0,0.0,0.0,3.0,1.000000,0.0,0.000000,...,0.0,0.000000,0.000000,0.975608,0.000000,0.000000,0.021583,0.000040,9.0,3.000000

In [22]:
df_info = get_df_info(data)
df_info.head(50)

,dtype,nunique,nan,zero,empty_str,vc_max,example1,example2,trash_score
rank,int64,5,-1.0,0.517,-1.0,"(0.517, 0.0)",4,1.000000e+00,0.517
query_id,int64,2000,-1.0,-1.000,-1.0,"(0.004, 22540.0)",19300,1.744000e+04,0.004
feature_0,float64,16,-1.0,0.115,-1.0,"(0.338, 2.0)",6.0,7.000000e+00,0.338
feature_1,float64,10,-1.0,0.863,-1.0,"(0.863, 0.0)",4.0,9.000000e+00,0.863
feature_2,float64,15,-1.0,0.302,-1.0,"(0.33, 1.0)",0.0,2.400000e+01,0.330
feature_3,float64,10,-1.0,0.603,-1.0,"(0.603, 0.0)",5.0,8.000000e+00,0.603
feature_4,float64,16,-1.0,0.085,-1.0,"(0.346, 2.0)",10.0,1.100000e+01,0.346
feature_5,float64,44,-1.0,0.115,-1.0,"(0.7, 1.0)",0.96875,7.500000e-01,0.700
feature_6,float64,25,-1.0,0.863,-1.0,"(0.863, 0.0)",0.555556,2.000000e-01,0.863
feature_7,float64,32,-1.0,0.302,-1.0,"(0.383, 1.0)",0.666667,2.000000e-01,0.383
feature_8,float64,235258,-1.0,0.000,-1.0,"(0.0, 0.0)",148.637448,1.081031e+02,0.000
feature_9,float64,44,-1.0,0.085,-1.0,"(0.733, 1.0)",0.2,8.333330e-01,0.733
feature_10,float64,5124,-1.0,0.021,-1.0,"(0.021, 0.0)",2784.0,3.770000e+03,0.021
feature_11,float64,156,-1.0,0.729,-1.0,"(0.729, 0.0)",134.0,1.450000e+02,0.729
feature_12,float64,281,-1.0,0.034,-1.0,"(0.102, 3.0)",180.0,7.100000e+01,0.102
feature_13,float64,60,-1.0,-1.000,-1.0,"(0.15, 7.0)",40.0,1.270000e+02,0.150
feature_14,float64,5174,-1.0,-1.000,-1.0,"(0.004, 4.0)",2555.0,4.309000e+03,0.004
feature_15,float64,1903,-1.0,-1.000,-1.0,"(0.02, 18.420681)",11.211921,2.075924e+01,0.020
feature_16,float64,1790,-1.0,-1.000,-1.0,"(0.029, 18.420681)",24.946795,2.338597e+01,0.029
feature_17,float64,1809,-1.0,-1.000,-1.0,"(0.028, 18.420681)",20.341175,6.799825e+00,0.028
feature_18,float64,1813,-1.0,-1.000,-1.0,"(0.027, 18.420681)",32.162624,2.609962e+01,0.027
feature_19,float64,1901,-1.0,-1.000,-1.0,"(0.02, 18.420681)",7.347059,3.479434e+01,0.020
feature_20,float64,235258,-1.0,0.000,-1.0,"(0.0, 0.0)",0.143753,1.179434e-01,0.000
feature_21,float64,54,-1.0,0.863,-1.0,"(0.863, 0.0)",52.0,4.400000e+01,0.863
feature_22,float64,73,-1.0,0.302,-1.0,"(0.302, 0.0)",18.0,1.500000e+01,0.302
feature_23,float64,13,-1.0,0.603,-1.0,"(0.603, 0.0)",12.0,4.000000e+00,0.603
feature_24,float64,532,-1.0,0.085,-1.0,"(0.085, 0.0)",660.0,5.720000e+02,0.085
feature_25,float64,215,-1.0,0.300,-1.0,"(0.3, 0.0)",137.0,1.210000e+02,0.300
feature_26,float64,26,-1.0,0.938,-1.0,"(0.938, 0.0)",22.0,1.600000e+01,0.938
feature_27,float64,24,-1.0,0.617,-1.0,"(0.617, 0.0)",21.0,4.000000e+00,0.617
feature_28,float64,10,-1.0,0.815,-1.0,"(0.815, 0.0)",12.0,6.000000e+00,0.815
feature_29,float64,216,-1.0,0.267,-1.0,"(0.267, 0.0)",97.0,2.080000e+02,0.267
feature_30,float64,387,-1.0,0.115,-1.0,"(0.115, 0.0)",212.0,3.310000e+02,0.115
feature_31,float64,35,-1.0,0.863,-1.0,"(0.863, 0.0)",66.0,1.300000e+01,0.863
feature_32,float64,60,-1.0,0.302,-1.0,"(0.545, 1.0)",86.0,2.200000e+01,0.545
feature_33,float64,11,-1.0,0.603,-1.0,"(0.603, 0.0)",1.0,1.200000e+01,0.603
feature_34,float64,386,-1.0,0.085,-1.0,"(0.085, 0.0)",279.0,4.770000e+02,0.085
feature_35,float64,235258,-1.0,0.000,-1.0,"(0.0, 0.0)",194017.606277,1.270619e+06,0.000
feature_36,float64,125,-1.0,0.863,-1.0,"(0.863, 0.0)",24.5,5.540000e+01,0.863
feature_37,float64,153,-1.0,0.302,-1.0,"(0.322, 1.0)",1.333333,8.750000e-01,0.322
feature_38,float64,53,-1.0,0.603,-1.0,"(0.603, 0.0)",0.5,5.714290e-01,0.603
feature_39,float64,1464,-1.0,0.085,-1.0,"(0.085, 0.0)",36.4,3.300000e+01,0.085
feature_40,float64,8204,-1.0,0.358,-1.0,"(0.358, 0.0)",1152.0,1.294222e+03,0.358
feature_41,float64,226,-1.0,0.918,-1.0,"(0.918, 0.0)",0.666667,5.625000e+01,0.918
feature_42,float64,290,-1.0,0.632,-1.0,"(0.632, 0.0)",26.64,6.348000e+03,0.632
feature_43,float64,59,-1.0,0.779,-1.0,"(0.779, 0.0)",0.530612,9.600000e-01,0.779
feature_44,float64,8696,-1.0,0.345,-1.0,"(0.345, 0.0)",11100.666667,9.224000e+01,0.345
feature_45,float64,47103,-1.0,0.115,-1.0,"(0.115, 0.0)",0.002397,3.036400e-02,0.115
feature_46,float64,555,-1.0,0.863,-1.0,"(0.863, 0.0)",0.164179,3.800000e-01,0.863
feature_47,float64,700,-1.0,0.302,-1.0,"(0.302, 0.0)",0.027692,6.562500e-01,0.302

 Пустых значений нет, Nan тоже - скорее всего их заменили нулями - можно об этом не беспокоиться. Скорее всего думать о смысле фич тоже не особо нужно поскольку они все переименованы. Разбиваю датасет следующим образом: 80% query оставим на обучение+валидацию, оставшиеся 20% на test - на нем будем считать итоговую метрику чтобы не допустить лик таргета.

In [28]:
def my_split(data, num=-1, max_num=-1):
    queries = data['query_id'].unique()
    if num == -1:
        train_query, test_query = train_test_split(queries, test_size=0.2)
    else:
        first = int(num/max_num*len(queries))
        last = int((num + 1)/max_num*(len(queries) - 1))
        train_query = queries[first : last]
    train_mask = data['query_id'].apply(lambda x: x in train_query)
    test_mask = ~train_mask
    return train_mask, test_mask

train_mask, test_mask = my_split(data)
train, test = data[train_mask], data[test_mask]
print(train.shape, test.shape) #watch the size - check if it still is close to 0.8/0.2

(185644, 146) (49614, 146)

### Решение

Поскольку нам нужно "по вектору фичей предсказать ранк документа" видимо требуется подойти к вопросу поточечно, как к простой задаче классификации: у нас есть 5 меток 0 1 2 3 4 и надо указать к какой метке ближе наша строка независимо от других поступлений.

In [99]:
X = train.drop(["rank", "query_id"], axis=1)

y = train["rank"]
queries= train["query_id"]

params = {
    "boosting_type": "gbdt",
    "objective": "multiclass",
    "class_weight":'balanced',
    "num_class": 5,
    "learning_rate": 0.1,
    "n_estimators": 1000,
    "verbose": -1,
    "random_state": 42,
}

fitted_models = []

for num in range(5):
    idx_train, idx_valid = my_split(train, num=num, max_num=5)
    X_train, y_train = X[idx_train], y[idx_train]
    X_valid, y_valid = X[idx_valid], y[idx_valid]

    model = lgb.LGBMClassifier(**params)
    model.fit(
        X_train, y_train,
        eval_set=[(X_valid, y_valid)],
        callbacks=[lgb.log_evaluation(100), lgb.early_stopping(100)]
    )

    fitted_models.append(model)

model = VotingModel(fitted_models)

Training until validation scores don't improve for 100 rounds
[100]	valid_0's multi_logloss: 1.18419
[200]	valid_0's multi_logloss: 1.16725
Early stopping, best iteration is:
[177]	valid_0's multi_logloss: 1.16574
Training until validation scores don't improve for 100 rounds
[100]	valid_0's multi_logloss: 1.1017
[200]	valid_0's multi_logloss: 1.08605
Early stopping, best iteration is:
[157]	valid_0's multi_logloss: 1.08198
Training until validation scores don't improve for 100 rounds
[100]	valid_0's multi_logloss: 1.07678
[200]	valid_0's multi_logloss: 1.07036
Early stopping, best iteration is:
[132]	valid_0's multi_logloss: 1.06504
Training until validation scores don't improve for 100 rounds
[100]	valid_0's multi_logloss: 1.16446
[200]	valid_0's multi_logloss: 1.15152
Early stopping, best iteration is:
[146]	valid_0's multi_logloss: 1.14298
Training until validation scores don't improve for 100 rounds
[100]	valid_0's multi_logloss: 1.17688
[200]	valid_0's multi_logloss: 1.12425
[300]	valid_0's multi_logloss: 1.11899
[400]	valid_0's multi_logloss: 1.12434
Early stopping, best iteration is:
[308]	valid_0's multi_logloss: 1.11853

In [100]:
res1 = pd.DataFrame(model.predict(test.drop(["rank", "query_id"], axis=1)).round())
res1.to_csv('res1.csv') #save the results not to run the training in the future again

### Считаем средний ndcg@1 ndcg@3 ndcg@5

In [117]:
res1 = pd.read_csv('res1.csv')
y_pred = res1["0"]
y_test = test["rank"].reset_index(drop=True)
query_id = test['query_id'].reset_index(drop=True)

def calculate_metrics(query_id, y_test, y_pred):
    df = pd.DataFrame({'query_id': query_id, 'y_test': y_test, 'y_pred': y_pred})
    ndcg_1 = []
    ndcg_3 = []
    ndcg_5 = []
    mses = []
    
    unique_queries = df['query_id'].unique()
    
    for query in unique_queries:
        current_query_df = df[df['query_id'] == query]
        
        current_y_test = current_query_df['y_test']
        current_y_pred = current_query_df['y_pred']
        
        top_5_idx = current_y_pred.argsort()[::-1][:5]
        
        ndcg_1.append(ndcg_score([current_y_test], [current_y_pred], k=1))
        ndcg_3.append(ndcg_score([current_y_test], [current_y_pred], k=3))
        ndcg_5.append(ndcg_score([current_y_test], [current_y_pred], k=5))
        mses.append(mean_squared_error(current_y_test, current_y_pred))
    mean_ndcg_1 = np.mean(ndcg_1)
    mean_ndcg_3 = np.mean(ndcg_3)
    mean_ndcg_5 = np.mean(ndcg_5)
    mean_mse = np.mean(mses)
    
    return mean_ndcg_1, mean_ndcg_3, mean_ndcg_5, mean_mse


print(test['query_id'].shape, y_test.shape, y_pred.shape)
ndcg_1, ndcg_3, ndcg_5, mean_mse = calculate_metrics(query_id, y_test, y_pred)

print("NDCG@1:", ndcg_1)
print("NDCG@3:", ndcg_3)
print("NDCG@5:", ndcg_5)
print("Mean mse per query:", mean_mse)

(49614,) (49614,) (49614,)
NDCG@1: 0.44753975424423037
NDCG@3: 0.432826162704049
NDCG@5: 0.43644907023806795
Mean mse per query: 0.7434708317771939

Видим, что ndcg не сильно высокий: оно и логично - мы работали в рамках повышения логлосса а не этого скора.